<footer class="footer">
    <div class="container">
        <div class="row" style="width: 100px;">
            <div class="col-6 ">
                <a href="https://www.facebook.com/andreyalth/"><h5 class="andrey"><i class="fab fa-facebook" title="Enviar mensaje"></i> <br></h5></a>
            </div>
            <div class="col-6">
                <a href="https://www.instagram.com/andreyalth/"><h5 class="andrey1"><i class="fab fa-instagram" title="Instagram"></i> <br></h5></a>
            </div>
        </div>
    </div>
</footer>

<script src="/js/jquery.min.js"></script>
<script src="/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="//jquery.easing.1.3.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/jquery.magnific-popup.min.js"></script>
<script src="/js/aos.js"></script>
<script src="/js/jquery.animateNumber.min.js"></script>
<script src="/js/scrollax.min.js"></script>

<script src="/js/main.js"></script>
<script src="https://kit.fontawesome.com/f61c39cbe9.js" crossorigin="anonymous"></script>